div{
	width: 25%;
}
.padre {
	width: 600px;
	background-color: white;
	border: 3px solid black;
}
.Caja1 {
	height: 100px;
	background-color: yellow;
	float: left;
}
.Caja2 {
	height: 100px;
	background-color: blue;
	float: left;
}
.Caja3{
	height: 100px;
	background-color: red;
	float: left;
}
.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}